<div class="container">

  <h1>S'inscrire</h1>

  <div ng-if="vm.message" class="card-panel green" role="alert">
    <p>{{ vm.message }}</p>
  </div>

  <div ng-if="vm.error" class="card-panel red" role="alert">
    {{ vm.error }}
  </div>

  <form ng-hide="vm.message" name="register" ng-submit="vm.register()">
    <div class="row">

      <div class="input-field col s12">
        <input type="text" id="username" ng-model="vm.username" autocapitalize="none">
        <label for="username">Nom d'utilisateur</label>
      </div>

      <div class="input-field col s12">
        <input type="password" id="password" ng-model="vm.password" autocapitalize="none">
        <label for="password">Mot de passe</label>
      </div>

      <div class="input-field col s12">
        <input type="password" class="form-control" id="password-repeat" ng-model="vm.passwordRepeat" autocapitalize="none">
        <label for="password-repeat">Confirmation du mot de passe</label>
      </div>

      <button type="submit" class="btn btn-success">Créer mon compte</button>
    </div>
  </form>
</div>
