#sz-nav {
  height: 80px !important;
}

#sz-nav input {
  background-color: #FFF !important;
  font-size: 1rem !important;
  border: 1px solid #666 !important;
  margin : 5px 10px !important;
  padding : 5px 10px !important;
  width: 120px !important;
  color: #567;
}
