<footer class="page-footer brown darken-1">

        <div class="container">
        <div class="row list-inline">
            <div class="col s4">
            <p>© 2016 Copyright</p>
            </div>
            <div class="col s4">
            <p>Contactez-nous</p>
            </div>
            <div class="col s4 right">
            <ul class="logoSocial">
                <li><a href="#"><img src="../img/facebook.png"</a></li>
                <li><a href="#"><img src="../img/twitter.png"</a></li>
                <li><a href="#"><img src="../img/instagram.png"</a></li>

            </ul>

            </div>
        </div>

        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>

      </div>
    </footer>
