<footer class="page-footer brown darken-1">

        <div class="container">
        <div class="row">
            <div class="col s4">
            <p>© 2016 Copyright</p>
            </div>
            <div class="col s4">
            <p>Contactez-nous</p>
            </div>

            <div class="col s4 right">
            <ul class="logoSocial">
                <img src="../img/facebook.png"/>&nbsp;&nbsp;<img src="../img/twitter.png" />&nbsp;&nbsp;<img src="../img/instagram.png"</a></li>
            </ul>
            </div>
        </div>
    </div>
    </footer>
