<div class="container-fluid">
  <div class="col s10">
  <img class="responsive-img" src="../img/africa-3.jpg" alt="">
  <h3 class="center red lighten-1 blue-text text-lighten-1">Bienvenue sur le plus grand réseau social<br />
    d'entraide pour les zoos du monde entier</h3>
</div>
</div>
<!-- Square card -->
<div class="container brown lighten-4">
  <div class="row">
    <div class="col s4 offset1">
      <div class="mdl-card mdl-shadow--2dp demo-card-square">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text center">Echanges</h2>
        </div>
        <div>
          <img id="logo" src="../img/hand-shake.png" />
        </div>
        <div class="mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Action
          </a>
        </div>
      </div>
 </div>
 <!-- Square card -->
 <div class="col s4 offset1">
 <div class="mdl-card mdl-shadow--2dp demo-card-square">
   <div class="mdl-card__title mdl-card__accent mdl-card--expand">
     <h2 class="mdl-card__title-text center">Trouver un animal</h2>
   </div>
   <div>
     <img id="logo" src="../img/tiger.png" />
   </div>
   <div class="mdl-card__supporting-text">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
         Action
       </a>
   </div>
 </div>
 </div>
 <!-- Square card -->
 <div class="col s4 offset1">
 <div class="mdl-card mdl-shadow--2dp demo-card-square">
   <div class="mdl-card__title mdl-card--expand">
     <h2 class="mdl-card__title-text center">Le prêt de matériel</h2>
   </div>
   <div>
     <img id="logo" src="../img/settings.png" />
   </div>
   <div class="mdl-card__supporting-text">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
         Action
       </a>
   </div>
 </div>
 </div>
 <!-- Square card -->
 <div class="col s4 offset1">
 <div class="mdl-card mdl-shadow--2dp demo-card-square">
   <div class="mdl-card__title mdl-card--expand">
     <h2 class="mdl-card__title-text center">Le Personnel</h2>
   </div>
   <div>
     <img id="logo" src="../img/telemarketer.png" />
   </div>
   <div class="mdl-card__supporting-text">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
         Action
       </a>
   </div>
 </div>
 </div>
 <!-- Square card -->
 <div class="col s4">
 <div class="mdl-card mdl-shadow--2dp demo-card-square">
   <div class="mdl-card__title mdl-card--expand">
     <h2 class="mdl-card__title-text center">Les conseils</h2>
   </div>
   <div>
     <img id="logo" src="../img/light-bulb.png" />
   </div>
   <div class="mdl-card__supporting-text">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
         Action
       </a>
   </div>
 </div>
 </div>
 <!-- Square card -->
<div class="col s4">
 <div class="mdl-card mdl-shadow--2dp demo-card-square">

   <div class="mdl-card__title mdl-card--expand">
     <h2 class="mdl-card__title-text center">Insolite</h2>
   </div>
   <div>
     <img id="logo" src="../img/3d-glasses.png" />
   </div>
   <div class="mdl-card__supporting-text">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
   </div>
   <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
         Action
       </a>
   </div>
 </div>
</div>
</div>
</div>
<br />
<br />
<br />
<section>

    <div class="row center align">
      <h2>Rejoignez-nous sans plus tarder</h2>
    </div>

  <div class="row">
    <div class="col m6 s12"
    <form action="">

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>


        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">

          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s12 center-align" >
          <button class="btn waves-effect waves-light btn-large ">Je m'inscris</button>
          <button class="btn-floating waves-effect waves-light btn-large ">Je m'inscris</button>

        </div>

    </form>
  </div>
</div>

    </section>






<!-- <div class="row casier">
  <div class="col s12 m4 blue">
     <img class="materialboxed" width="350" src="img/goat.jpg">
  </div>
  <div class="col s12 m3 red">
  </div>
  <div class="col s12 m3 green">
  </div>
</div>


<i class="material-icons large">contac_phone</i> -->
